<%= form_for [@company, @job] do |f| %>
  <p>Category:
  <%= f.select :category_id, @categories.collect { |c| [c.title, c.id] }, disable: false%></p>

  <!-- link to add a new category-->

  <p>Role:
  <%= f.text_field :title %></p>

  <p>Company:
  <%= f.select :company_id, @categories.collect { |c| [c.title, c.id] }, disable: true%></p>

  <p>City:
  <%= f.text_field :city %></p>

  <p>Description:
  <%= f.text_field :description %></p>

  <p>Interest:
  <%= f.number_field :level_of_interest %></p>

  <% if @job.id %>
    <%= link_to "Cancel", company_job_path(@company, @job) %>
  <% else %>
    <%= link_to "Cancel", company_path(@company) %>
  <% end %>

  <%= f.submit %>
<% end %>
