<% if @company
    parent = @company
  else
    parent = @category
  end %>

<%= form_for [parent, @job] do |f| %>
<section>
  <p>Category:</p>
  <%= f.collection_select :category_id, @categories, :id, :title%>
  <%= link_to "add new category", new_category_path %>
</section>

<section>
  <p>Role:</p>
  <%= f.text_field :title %>
</section>

<section>
  <p>Company:</p>
  <%= f.collection_select :company_id, @companies, :id, :name %>
</section>

<section>
  <p>City:</p>
  <%= f.text_field :city %>
</section>

<section>
  <p>Description:</p>
  <%= f.text_field :description %>
</section>

<section>
  <p>Interest:</p>
  <%= f.number_field :level_of_interest %>
</section>

<section>
  <p class="empty">.</p>
  <% if @job.id %>
    <%= link_to "Cancel", company_job_path(parent, @job), class: 'form-button'%>
  <% else %>
    <%= link_to "Cancel", company_path(parent), class: 'form-button' %>
  <% end %>
  <%= f.submit class: 'form-button' %>
</section>
<% end %>
