<%= form_for [@company, @job] do |f| %>
<section>
  <p>Category:</p>
  <%= f.select :category_id, @categories.collect { |c| [c.title, c.id] }, disable: false%>
  <%= link_to "add new category", new_company_path %>
</section>

<section>
  <p>Role:</p>
  <%= f.text_field :title %>
</section>

<section>
  <p>Company:</p>
  <%= f.select :company_id, @categories.collect { |c| [c.title, c.id] }, disable: true%>
</section>

<section>
  <p>City:</p>
  <%= f.text_field :city %>
</section>

<section>
  <p>Description:</p>
  <%= f.text_field :description %>
</section>

<section>
  <p>Interest:</p>
  <%= f.number_field :level_of_interest %>
</section>

<section>
  <p>.</p>
  <% if @job.id %>
    <%= link_to "Cancel", company_job_path(@company, @job), class: 'form-button'%>
  <% else %>
    <%= link_to "Cancel", company_path(@company), class: 'form-button' %>
  <% end %>
  <%= f.submit class: 'form-button' %>
</section>
<% end %>
